LOCAL_DIR="/home/$USER/SyncArea"
REMOTE_NAME="drive"
REMOTE_PATH="SyncArea"
LOCAL_BACKUP_DIR="/home/$USER/SyncArea-backup"
REMOTE_BACKUP_DIR="SyncArea-backup"
LOG_FILE="/home/$USER/.config/rclone_sync/log"
