[Unit]
Description=RClone Synchronization Service
DefaultDependencies=no
Before=shutdown.target
After=network.target

[Service]
Type=oneshot
ExecStart=%h/.config/rclone-systemd-sync/start_sync.sh
